<h1>List of all Movies</h1>
<br>
<%= link_to "New Movie", new_movie_path %>
<br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Year</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to movie.name, movie_path(movie) %></td>
        <td><%= link_to movie.year, movie_path(movie) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
