<h1>Sign In</h1>

<%= form_tag("/signin", method: "post") do %>
    <p>User Name: <%= text_field_tag :name %></p>
    <p>Password: <%= text_field_tag :password %></p>
    <%= submit_tag "Sign In" %>
<% end %>

