body {
  padding-bottom: 30px;
}

ol {
  list-style-type: none;
}

#error_explanation {
  color: red;
}

.field_with_errors {
  color: red;
  border: 2px red;
}

.flash_success {
  color: green;
  background-color: lightgreen;
}

.flash_error {
  color: red;
  background-color: pink;
}

table {
  margin: 30px;
}

td {
  padding: 5px;
}

#navbar {
  background-color: red;
  font-size: 20px;
  font-weight: bold;
}

#navbar a {
  margin: 10px;
  padding: 5px;
  color: yellow;
  text-decoration: none;
  display: inline-block;
}

#navbar a:hover {
  background-color: black;
}

.nav-right {
  float: right;
}

.nav-flash {
  float: right;
}

/* 
.navbar-header a {
  color: yellow;
  display: inline-block;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
} */
